body
{
    
}
#weapBlock{
    background-color:darkslategray;
    width:400px;
    height:250px;
    display:block;
}
#statTotals{
    display:flex;
    width:175px;
    background-color:lightslategray;
    margin-inline:5px;
    min-height:10px;
}
.statdivs{
    display:block;
    float:left;
    position:absolute;
    height:10px;
    
}