body {
}

#headerBar {
    background-color: white;
    width: 100%;
    height: 100px;
    font-size:28px;
}

#sideBar {
    position: relative;
    background-color: white;
    float: left;
    width: 204px;
    height: 525px;
    margin-right: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    font-weight: bold;
}

#main{
    margin:15px;
    background-color:white;
    width:auto;
    padding-bottom: 260px;
}

.weapBlock {
    padding: 15px;
    background-color: white;
    width: 400px;
    height: 250px;
    display: grid;
    overflow: auto;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 164px;
    margin: 15px;
    float: left;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 12px;
}

#weapblocklink:hover {
    background-color: #d5ffb8;
}
#weapblocklink{
        text-decoration: none;

}

#statTotals {
    display: flex;
    width: 175px;
    background-color: rgb(62, 61, 38);
    margin-inline: 5px;
    min-height: 10px;
}

#statblock {
    float: left;
    display: flex;
}

.statdivs {
    display: block;
    float: left;
    height: 10px;
}
#selectedTab {
    background-color: #B1E29F;
    height:56px;
    line-height: 56px;
    font-size: 24px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.5);
    z-index: 1;
    position:relative
}
#otherTab{
    height:56px;
    line-height: 56px;
    font-size: 24px;
    z-index: 0;
    position:relative

}
#otherTab:hover{
    background-color: #d5ffb8;
    z-index:1;
    box-shadow:0px 3px 10px rgba(0,0,0,0.5);
    
}
#weaponList{
    display: block;
    margin-left:20%;
}
#separator{
    width:60%;
    margin-left:0;
    
}
#footerBar{
    background-color: white;
    width: 100%;
    height: 100px;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    box-shadow:0px -3px 10px rgba(0,0,0,0.5);

}


#button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    width: 347px;
    height: 76px;
    border-radius: 12px;
    line-height: 76px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.5);
}

#button:hover{
    box-shadow:0px 0px 0px rgba(0,0,0,0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
li ul{
    display: none;

}
li:hover ul {
    display: block;
    left: 100%;
    position: absolute;
    width:250px;
    top: 0;

}
ul li a {
    display: block;
    background: white;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    height:56px;
    line-height:56px;
    
}
ul li ul li {
    width: 150px;
    height:56px;
    display: block;
    position: relative;
    float: left;
    text-align: center;
    border: 1px solid black;
    
}
li:hover{
    background-color: #d5ffb8;
}
li a:hover {
    background-color: #d5ffb8;
}

.hide{
    display:none;
}
#table{
    width: 80%;
    border-collapse: collapse;
    margin: 0px;

}
#common {
    color: gray;
    -webkit-text-stroke: 0.5px gray;
    font-weight:bold;
}
#uncommon {
    color: green;
    -webkit-text-stroke: 0.5px gray;
    font-weight: bold;
}
#rare{
    color: blue;
    -webkit-text-stroke: 0.5px gray;
    font-weight: bold;
}
#epic{
    color: rebeccapurple;
    -webkit-text-stroke: 0.5px gray;
    font-weight: bold;
}
#legendary {
    color: gold;
    -webkit-text-stroke: 0.5px gray;
    font-weight: bold;
}
#mythic {
    color: yellow;
    -webkit-text-stroke: 0.5px gray;
    font-weight: bold;
}