body {
}

#headerBar {
    background-color: white;
    width: 100%;
    height: 164px;
}

#sideBar{
    background-color:aqua;
    float:left;
    width:204px;
    height:525px;
    margin-right:15px;
}

#main{
    margin:15px;
}

#weapBlock {
    padding:15px;
    background-color: rgb(19, 31, 85);
    width: 400px;
    height: 250px;
    display: grid;
    overflow: auto;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 164px;
}

#statTotals {
    position: absolute;
    display: flex;
    width: 175px;
    background-color: rgb(62, 61, 38);
    margin-inline: 5px;
    min-height: 10px;
}

#statblock {
    float: left;
    display: flex;
    position: absolute;
}

.statdivs {
    display: block;
    float: left;
    position: absolute;
    height: 10px;
}